body{
  min-width: 360px;
  /* background: red; */
  padding: 0;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif
}
select,
input,
button,
a{
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
nav{
  height: 40px;
  width: calc(100% - 70px);
  background: white;
  padding: 30px 35px;
  position: sticky;
  top: 0;
  z-index: 1;
  transition: padding 0.2s linear;
}
nav.small-nav{
  padding: 10px 35px;
}
.nav-btn{
  width: 28px;
  height: 28px;
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  position: absolute;
  /* left: 0; */
  top: 50%;
  transform: translate(0,-50%);
}
.nav-btn svg{
  width: 28px;
  height: 28px;
}

.nav-logo{
  width: auto;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.nav-login{
  position: absolute !important;
  top: 50%;
  right: 20px !important;
  transform: translateY(-50%);
  font-size: 17px;
    font-weight: 500;
    color: grey;
    padding-bottom: 4px;
    position: fixed;
    right: 20px;
    color: #111;
    text-transform: capitalize;
}
.nav-login:hover{
  color: #007bff;
}

.nav-menu.active {
    left: 0;
    transition: .35s;
    z-index: 5;
}
.nav-menu{
  background-color: #111;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: .85s;
}
.nav-menu ul{
  width: 100%;
  padding: 0;
  margin: 0;
}
.nav-menu ul li{
  justify-content: start;
padding: 8px 0 8px 16px;
list-style: none;
height: 44px;
      justify-content: start;
      align-items: center;
}
.nav-menu ul li a{
  text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: calc(95% - 32px);
    height: 100%;
    padding: 0 16px;
    border-radius: 4px;
    display: flex;
align-items: center;
}
.nav-menu ul li a:hover{
  background: #e62346;
}
.nav-menu ul li a span{
margin-left: 16px;
}
 .nav-menu ul li a svg{

 }
.nav-menu ul li.navbar-toggle{
  background-color: #111;
width: 100%;
height: 80px;
display: flex;
justify-content: start;
align-items: center;
padding: 0;
}
.nav-menu ul li.navbar-toggle a{
  width: 28px;
height: 28px;
display: inline;
margin: 0;
padding: 0;
margin-left: 36px;
}
.nav-menu ul li.navbar-toggle a:hover{
  background: none;
}
.nav-menu ul li.navbar-toggle svg{
  width: 28px;
  height: 28px;

}





.home-banner{
  padding: 0;
min-height: 100vh;
transition-timing-function: .3 ease-in-out;
transition: all .3s ease-in-out;
display: flex;
}
.home-banner .img-container{
  display: inline-block;
      overflow: hidden;
      width: 50%;
      height: 100vh;
      background-color: #111;
      flex: 0 0 50%;
max-width: 50%;
}
.home-banner .img-container .photo-div{
  transition: all .3s ease-in;
  color: #000;
  text-align: center;
  position: relative;
}
.home-banner .img-container .photo-div img{
  object-fit: cover;
      width: 100%;
      height: 100vh;
      -webkit-filter: brightness(50%) grayscale(100%);
      filter: brightness(50%) grayscale(100%);
}
.home-banner .img-container .photo-div h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
  font-weight: 800;
  font-size: 4rem;
  color: #fff;
  opacity: .8;
  margin: 0;
}
.home-banner .img-container .photo-div:hover h1{
  display: block;
}
.home-banner .img-container .photo-div:hover{
  transform: scale(1.09);
}


.brand-text h1{
  margin: 3rem .5rem;
    text-align: center;
    color: #e62346;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    /* letter-spacing: 1.2px; */
    font-family: "Poppins",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}

.social-links{
  padding-bottom: 55px;
}
.social-links ul{
  list-style: none;
      display: inline-block;
      padding-left: 0;
      margin: auto;
      text-align: center;
      width: 100%;
}
.social-links ul li{
  display: inline;
  padding: 8.5px;
}
.social-links ul a{

}
.social-links ul img{
  height: 39px;
  padding: 8px;
}
footer{

  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  color: rgb(255, 255, 255);
background-color: rgb(17, 17, 17);
font-weight: 600;
}
footer p{
    padding-bottom: 15px;
    padding-top: 8px;
    text-align: center;
    margin: 0;
}


.form-wrapper{
  min-height: 100vh;
line-height: 1.6;
font-family: "Poppins",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
background: #000;
text-align: center;
justify-content: center;
align-items: center;
display: flex;
position: relative;
}
.form-wrapper >div{
  display: block;
  width: calc(33.33% - 30px);
  transform: translateY(-50%);
  padding: 0 15px;
  margin: auto;
}
.form-wrapper form{
  width: 100%;
display: block;
margin: auto;
}
.form-wrapper input{
width: 100%;
display: block;
width: calc(100% - 26px);
height: 25.5px;
border: 1px solid #ced4da;
font-family: inherit;
padding: 6px 12px;
font-size: 1rem;
font-weight: 400;
line-height: 25.5px;
color: #495057;
background-color: #fff;
background-clip: padding-box;
/* border: 0; */
border-radius: 0;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
margin-bottom: 16px;
}
.form-wrapper button{
  width: 100%;
  font-size: 16px;
    font-weight: 600;
    background-color: #e62346;
    padding: 12px 12px;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 2px -2px rgb(0 0 0 / 20%);
    transition: .3s ease;
}
.form-wrapper button:hover{
  background: white;
  color: black;
}
.form-wrapper button:focus{
  color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.form-wrapper small{
  display: block;
margin-top: 4px;
padding-top: 32px;
padding-bottom: 15px;
    color: #6c757d!important;
    font-size: 80%;
    font-weight: 600;
}
.form-wrapper small a{
  color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.form-wrapper small a:hover{
  text-decoration: underline;
}







/* shop page */
.shop-banner{
  background-image: url(https://images.unsplash.com/photo-1516399570-38faab0fbc61?auto=format&fit=crop&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&q=80&w=1567);
    background-size: cover;
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop-banner h1{
  display: block;
  width: calc(58.3333% - 30px);
  margin: auto;
  font-weight: 700;
font-size: 3.75rem;
padding: 0 15px;
color: #fff;
transform: translateY(40%);
}
/* .results-d form{
  max-width: 232px;
}
.results-d form input{
  display: block;
width: calc(100% - 1.5rem);
padding: .375rem .75rem;
font-size: 17px;
font-weight: 400;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: .0;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.results-d{
  width: calc(66.67% - 30px);
  min-height: 70vh;
  padding: 0 15px;
  margin: auto;
  display: block;
}
.results-d article{
  display: inline-block;
      max-width: 366px;
      min-width: 250px;

      padding: 1rem;
      margin-left: .5rem;
      margin-top: 1rem;
      margin-bottom: 1.25rem;
      border-radius: 8px;
      box-shadow: 0 4px 2px -2px rgb(0 0 0 / 20%);
      border: 1px solid #ced4da;
      transition: .3s;
}
.results-d article img{
  width: calc(100% - 0.5rem);
  padding: .25rem;
      background-color: #fff;
      border: 1px solid #dee2e6;
      border-radius: .25rem;
      margin-bottom: 6px;
}
.results-d article h6{
margin: 0;
margin-bottom: .5rem;
font-weight: 400;
line-height: 1.2;
font-size: 18px;
}
.results-d article p{
margin: 0;
margin-top: 0;
margin-bottom: 1rem;
} */
.shop-m{
  min-height: 100vh;
  padding: 50px 0;
}
.shop-m .shop-d{
  overflow: visible;
  width: 66.67%;
  margin: auto;
  background: white;
}
.shop-m .btns{
  display: flex;
  padding-top: 20px;
}
.shop-m .btns button{
  padding: 10px 10px;
width: 50%;
border: 0;
background: white;
font-size: 14px;
font-weight: 500;
}
.shop-m .btns button.active{
  /* background: grey; */
  /* filter: drop-shadow(-10px 21px 10px rgba(157,158,157,0.5)); */
  /* box-shadow: 0 4px 2px -2px rgb(0 0 0 / 20%); */
  background: #f5f5f5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.shop-m .items-dd-btns{
  width: 100%;
  text-align: left;
  display: none;
  padding: 10px 10px;
border: 0;
background: #f5f5f5;
border-radius: 10px;
margin-top: 15px;
font-size: 14px;
font-weight: 500;
}
.shop-m .items-dd-btns svg{
  float: right;
  width: 15px;
}
.shop-m .items{
  display: flex;
  flex-wrap: wrap;
background: white;
  background: #f5f5f5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: none;
  padding-top: 15px;
  margin-bottom: 20px;
}
@media (min-width:767px) {
  .shop-m.collection .items#our-collection-div{
    display: flex;
    border-top-right-radius: 10px;
  }
  .shop-m.parts .items#parts-div{
    display: flex;
    border-top-left-radius: 10px;
  }
}

.shop-m article{
  flex: 0 calc(50% - 32px - 30px);
  padding: 15px;
  margin: 15px;
  border-radius: 8px;
  background: white;
  filter: drop-shadow(4.974px 3.355px 10.5px rgba(157,158,157,0.5));
  border: 1px solid #ced4da;
  transition: .3s;
}

.shop-m article>div{
  display: flex;
}
.shop-m article .img{
  display: inline-block;
  /* max-width: 33.33%;
  min-width: 33.33%; */

  width: 50%;
}
.shop-m article .img img{
  width: 100%;
}
.shop-m article .info{
  width: 50%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* position: relative; */
}
.shop-m article .info>div{
  /* margin: auto; */
  padding-left: 15px;
  width: calc(100% - 15px);
}
.shop-m article h1{
  color: black;
  margin: 0 0  5px 0;
  font-weight: 500;
  line-height: 1.2;
  font-size: 24px;
}
.shop-m article h2{
  color: black;
  margin: 0 0  5px 0;
  font-weight: 400;
  line-height: 1.2;
  font-size: 20px;
}
.shop-m article p{
  margin: 0;
}











/* repair page */
.repair-banner-main{
  min-height: 100vh;
}
.repair-banner{
  padding-top: 50px;
  /* background-image: url(https://images.unsplash.com/photo-1554401922-6d5c86a15a7e?auto=format&fit=crop&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&q=80&w=1351); */
  /* background-size: cover; */
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.repair-banner h1{
  /* display: block; */
  /* width: 100%; */
  /* margin-top: 50px; */
  text-align: center;
}
.repair-banner p{

  color: black;
  text-align: center;
}
.repair-form{
  min-height: 70vh;
  width: calc(50% - 30px);
  padding: 0 15px;
  margin: auto;
}
.repair-form form{
  padding: 1rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-shadow: 0 4px 2px -2px rgb(0 0 0 / 20%);
  /* transform: translateY(-180px); */
  background-color: #fff;
}
.repair-form form .form-group{
margin-bottom: 1rem;
}
.repair-form form label{
  display: inline-block;
      margin-bottom: .5rem;
      line-height: 25px;
}
.repair-form form input{
  display: block;
      width: calc(100% - 1.5rem - 2px);
  height: calc(1.5em + 1.5px );
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  /* border-radius: .25rem; */
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.repair-form form button{
  width: 100%;
      font-weight: 600;
      padding: .5rem 1rem;
      border: none;
      outline: none;
      color: #fff;
      border-radius: 4px;
      box-shadow: 0 4px 2px -2px rgb(0 0 0 / 20%);
      transition: .3s ease;
          background-color: rgb(230, 35, 70);
          line-height: 24px;
          font-size: 16px;
}
.repair-form form p{
    color: #6c757d!important;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5;
    font-size: 18px;
}
.repair-form hr{
  margin-top: 1rem;
margin-bottom: 1rem;
border: 0;
border-top: 1px solid rgba(0,0,0,.1);
}




/* contact page */
.contact-banner{
  background-image: url(https://images.unsplash.com/photo-1551485913-b5dbedb723bb?auto=format&fit=crop&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&q=80&w=1373);
margin-bottom: 3rem;
}
.contact-main{
  width: calc(66.666% - 30px);
  display: block;
  margin: auto;
  min-height: calc(70vh - 3rem);
  padding: 0 15px;
}
.contact-main>div{

}
.contact-main h3{
  margin-bottom: .5rem;
  margin-top: 0;
  font-weight: 500;
  line-height: 1.2;
  font-size: 28px;
}
.contact-main h2{
  margin-bottom: .5rem;
  margin-top: 0;
    font-weight: 500;
    line-height: 1.2;
    font-size: 30px;
}
.contact-main p{
  margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.5;

}


/* register page */
.form-wrapper h1{
  margin-top: 0;
  margin-bottom: 0;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.2;
    color: #212529;
}
.form-wrapper.register-form>div{
  width: calc(41.667% - 30px);

  /* padding-top: 30px;
  display: block; */
}
.register-form hr{
  margin-top: 1rem;
margin-bottom: 1rem;
border: 0;
border-top: 1px solid rgba(0,0,0,.1);
  /* padding-top: 15px; */
}
.register-form small:nth-of-type(1){
  padding-top: 22px;
}




/* quote page */
.quote-form-d{
  min-height: 100vh;
}
.quote-form-d form .info-form-fields{
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  margin: 15px;
  border: 1px dashed black;
}
.quote-form-d .form-group{
display: flex;
}
.quote-form-d .form-group input{
flex: 2;
margin: 5px;
border: 0;
border-bottom: 1px solid black;
}
.quote-form-d .form-group label{
margin: 5px;
}
.quote-form-d .info-form-fields .form-group:nth-of-type(1){
  flex: 0 50%;
}
.quote-form-d .info-form-fields .form-group:nth-of-type(2){
  flex: 0 50%;
}
.quote-form-d .info-form-fields .form-group:nth-of-type(3){
  flex: 0 60%;
}
.quote-form-d .info-form-fields .form-group:nth-of-type(4){
  flex: 0 40%;
}
.quote-form-d .info-form-fields .form-group:nth-of-type(5){
  flex: 0 33.33%;
}
.quote-form-d .info-form-fields .form-group:nth-of-type(6){
  flex: 0 33.33%;
}
.quote-form-d .info-form-fields .form-group:nth-of-type(7){
  flex: 0 33.34%;
}



.options-form-fields{
  width: 50%;

  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  margin: auto;
  text-align: center;
}
.options-form-fields .form-group{
  flex: 0 100%;
  text-align: center;
  margin-bottom: 15px;
}
.options-form-fields label{
  width: 50%;
  text-align: right;
}
.options-form-fields select{
  width: 50%;
  height: 31px;
}


#selectOptions select{
  display: none;
}
#selectOptions select.active{
  display: block;
}

.quote-form-d form button{
  width: 100%;
  max-width: 300px;
  margin: auto;
  display: block;
  font-size: 16px;
    font-weight: 600;
    background-color: #e62346;
    padding: 12px 12px;
    border-color: #e62346;
    outline: none;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 2px -2px rgb(0 0 0 / 20%);
    transition: .3s ease;
}
.quote-form-d form button:hover{
  background: white;
  color: #e62346;
}
.quote-form-d form button:focus{
  color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}












/* product page */
.bottom-nav{
  background: #e0e0e0;
  padding: 20px;
}
.bottom-nav ul{
  display: inline-block;
  list-style: none;
  padding: 0;
}
.bottom-nav ul li{
  display: inline-block;
}
.bottom-nav ul li:after{
  content: " /";
  font-size: 20px;
}

.bottom-nav ul li a{
  font-size: 18px;
      color: #007bff;
      font-weight: 500;
}
.bottom-nav ul li a:hover{
  border-bottom: 1px solid #007bff;
}
.bottom-nav ul li:nth-last-of-type(1):after{
  display: none;
}
.b-nav-cart{
  display: inline-block;
  float: right;
}
.b-nav-cart{
  margin:  16px 0;
}
.b-nav-cart svg{
width: 16px;
color: #007bff;
}


.product-m{

}
.product-d{
  display: flex;
  width: 76.67%;
  margin: auto;
  /* min-height: 600px; */
}
.product-d .img-side{
  width: 50%;
  /* background: red; */

}
.product-d .info-side{
  width: 50%;
}
.product-d .img-side .imgss{
  display: flex;
  padding: 10px;
}
.product-d .img-side .imgss .all-imgs{
  width: 25%;
  /* background: blue; */
}
.product-d .img-side .imgss .all-imgs .img{
  width: calc(100% - 0px);
  /* background: orange; */
  height: calc(33.3% - 20px);
  cursor: pointer;
  padding: 10px 0;

}
.product-d .img-side .imgss .all-imgs .img img{
  width: calc(100% - 0px);
  height: 100%;
  margin: 0;
  object-fit: cover;
}
.product-d .img-side .imgss .one-img{
  width: calc(75% - 40px);
  margin: 10px 20px 10px 20px;
  background: green;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  transition-duration: 0.5s;
}

.product-d h1{
  color: black;
margin: 15px 0 5px 0;
font-weight: 500;
line-height: 1.2;
font-size: 24px;
}
.product-d h2{
  color: black;
      margin: 0 0 5px 0;
      font-weight: 400;
      line-height: 1.2;
      font-size: 16px;

}
.product-d h2 span{
  color: grey;
}
.product-d h3{
  color: black!important;
      margin-top: 0;
      margin-bottom: 1rem;
      line-height: 1;
      font-size: 16px;
  display: inline-block;
}
.product-d p{
  color: black !important;
      margin-top: 0;
      margin-bottom: 1rem;
      line-height: 1;
      font-size: 16px;
}
.product-d select{
  display: inline-block;
  width: 200px;

  padding: 5px 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  /* border-radius: .25rem; */
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.product-m button{
  width: 100%;
  max-width: 300px;
  margin: auto;
  display: block;
font-weight: 600;
padding: .5rem 1rem;
border: none;
outline: none;
color: #fff;
border-radius: 4px;
box-shadow: 0 4px 2px -2px rgb(0 0 0 / 20%);
transition: .3s ease;
background-color: rgb(230, 35, 70);
line-height: 24px;
font-size: 16px;
margin-top: 20px;
margin-bottom: 20px;
border: 1px solid rgb(230, 35, 70);
}

.product-m button:hover{
  background: white;
  color: rgb(230, 35, 70);
}
.product-m button:focus{
  color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}


















/* cart page */
.cart-m{
  padding: 20px;
}
.cart-d{
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  max-width: 1280px;
  margin: auto;
}
.cart-top{
  background: black;
  /* display: flex; */
}
.cart-top h1{
  text-align: left;
  color: white;
  display: inline-block;
  margin: 10px 10px;
}
.cart-top button{
  /* width: 100%; */
font-weight: 600;
padding: .5rem 1rem;
border: 1px solid #e62346;
outline: none;
color: #fff;
border-radius: 4px;
box-shadow: 0 4px 2px -2px rgb(0 0 0 / 20%);
transition: .3s ease;
background-color: rgb(230, 35, 70);
line-height: 24px;
font-size: 16px;

  display: inline-block;

  float: right;
  margin: 10px 10px;
}

.main-cart{
  background: white;
  /* min-height: 500px; */
  display: flex;
}
.main-cart .item-side{
  width: 70%;
  padding: 10px;

}

.main-cart .price-side{
  width: 30%;

}
.main-cart .cart-item{
  padding: 10px;
    display: flex;
vertical-align: middle;
align-items: center;
border: 1px solid #cccccc;
border-radius: 5px;
margin: 0 0 10px 0;
}
.main-cart .cart-item:nth-last-of-type(1){
  margin-bottom: 0;
}
.cart-item .remove{
  width: 15px;
  padding-right: 10px;
}

.cart-item  .img{
  width: 70px;
  height: 60px;
  position: relative;
  overflow: hidden;
    border-radius: 4px;
    overflow: hidden;
}
.cart-item  .img img{
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}
.cart-item .remove a{
  color: black;
}
.cart-item .titles{
  width: calc(100% - 375px);
  padding: 0 10px;
}
.cart-item h2{
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
margin: 0 0 5px 0;
}
.cart-item h3{
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  margin: 0;
}
.cart-item .quantity{
  width: 80px;
  text-align: center;
  padding: 0 10px;
}
.cart-item .quantity a{
  background: rgb(230, 35, 70);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  color: white;
  font-size: 10px;
  vertical-align: middle;
  align-items: center;
  position: relative;
}
.cart-item .quantity i{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.cart-item input{
  width: 20px;
  height: 20px;
  vertical-align: middle;
  align-items: center;
text-align: center;
}
.cart-item input::-webkit-outer-spin-button,
.cart-item input::-webkit-inner-spin-button{
  -webkit-appearance: none;

}

.cart-item .unit-price{
  width: 60px;
  padding: 10px;
}
.cart-item .unit-price h4{
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin: 0;
}
.cart-item .total-price{
  width: 60px;
  padding: 10px;
  text-align: center;
}
.cart-item .total-price h4{
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin: 0;

}



.checkout-side{
  width: 30%;
  padding: 10px;
}
.checkout-side > div{
  width: calc(100% - 20px);
  display: block;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 10px 10px 120px 10px;
    height: calc(100% - 130px);
  position: relative;
}
.checkout-side h1{
  width: calc(50% - 10px);
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  vertical-align: middle;
  align-items: center;
  margin-bottom: 5px;
}
.checkout-side h2{
  width: calc(50% - 10px);
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  vertical-align: middle;
  align-items: center;
  margin-bottom: 5px;
}
.coupan-code{
  width: calc(100% - 0px);
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  margin: 10px 0;
}
.coupan-code input{
  border-width: 1px;
    border-radius: 4px;
  width: calc(100% - 90px);
  padding: 6px 12px;
}
.coupan-code button{
  width: 70px;
  font-size: 16px;
    font-weight: 600;
    background-color: #e62346;
    padding: 4.5px 10px;
  border: 1px solid #e62346;
    color: #fff;
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 4px 2px -2px rgb(0 0 0 / 20%);
    transition: .3s ease;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
}

.checkout-btn{
  width: 100%;
  font-size: 16px;
    font-weight: 600;
    background-color: #e62346;
    padding: 6px 12px;
    border: 1px solid #e62346;
    color: #fff;
    border-radius: 4px;
    /* border-top-right-radius: 7px;
    border-bottom-right-radius: 7px; */
    margin: auto;
    transition: .3s ease;
    text-align: center;
    /* margin-top: 100px; */
    max-width: 350px;

}
.checkout-side .checkout-btn{
  width: calc(100% - 20px);
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.cart-top button:hover,
.coupan-code button:hover,
.checkout-btn:hover{
  background: white;
  color: #e62346;
    box-shadow: 0 4px 2px -2px rgb(0 0 0 / 20%);
}
.cart-top button:focus,
.coupan-code button:focus,
.checkout-btn:focus{
  color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}















/* my address page */
.my-address{
  padding: 10px;
}
.my-address .address-item{
  padding: 0 10px 10px 10px;
  border-radius: 7px;
      filter: drop-shadow(4.974px 3.355px 10.5px rgba(157,158,157,0.5));
      background: white;
margin-bottom: 10px;
position: relative;
overflow: hidden;
color: black;
}
.my-address .address-item a{
  color: black;
  position: absolute;
  top: 5px;
  right: 10px;
}
.my-address a:nth-of-type(2){
  right: 35px;
}
.my-address .address-item:nth-last-of-type(1){
  margin-bottom: 0;
}
.my-address h1{
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0 5px 0;
}

.my-address h3{
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 5px 0;
}
.my-address h3 span{
  font-weight: 500;
}
.my-address h4{
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 5px 0;
}
.my-address h6{
  font-size: 18px;
  font-weight: 500;
  padding: 5px 10px;
  background: #d6d6d6;
  margin: 0 -10px;
}

.address-m .cart-top button{
  display: inline-block !important;
}

.popup-main{
  width: 100vw;
  min-width: 360px;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}
.popup-div{
  padding: 20px;
  width: calc(100vw - 60px);
  min-width: 360px;
  max-width: 880px;
  /* min-height: calc(50vh - 60px); */
  max-height: calc(100vh - 60px);
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: white;
  overflow-y: auto;
}
.close-btn{
  position: absolute;
    top: 5px;
    right: 5px;
}
.close-btn span{
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
}
.close-btn span::before{
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
}
.close-btn span::after{
content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
}
.popup-main.open{
  visibility: visible;
  opacity: 1;
}











/* my orders page */
.my-orders .main-cart .cart-item .img{
  width: 115px;
}
.my-orders .main-cart .item-side{
  width: 100%;
}
.my-orders .main-cart .quantity{
width: 100px;
}
.my-orders .main-cart .quantity h5{
font-weight: 500;
  font-size: 14px;
}
.my-orders .main-cart .status{
  width: 150px;
    text-align: center;
    padding: 0 10px;
}
.my-orders .main-cart .status h5{
  font-weight: 500;
  font-size: 14px;
}
.my-orders .main-cart .cancel{
  width: 200px;
    text-align: center;
    padding: 0 10px;
}
.my-orders .main-cart .cancel button{

}









/* order summary */

.order-summary .cart-item .titles {
    width: calc(100% - 270px);
}
.order-summary .address h2,
.order-summary .address h1{
  width: 100%;
}
.order-summary .my-address{
  margin-bottom: 5px;
}





/* checkout page */
.payment-method select{
  border-width: 1px;
  border-radius: 4px;
  width: calc(50% + 5px);
  padding: 6px 12px;
}
.cart-d > hr{
  width: calc(100% - 20px);
}
.card-details form{
  width: calc(100% - 30px);
  max-width: 400px;
  margin: auto;
  border-radius: 7px;
  overflow: hidden;
    filter: drop-shadow(4.974px 3.355px 10.5px rgba(157,158,157,0.5));
    background: white;
    padding: 0 15px 15px 15px;
}
.card-details h1{
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  padding: 5px 10px;
  margin: 0 -15px;
background: #d6d6d6;
}
.card-details input{

  font-size: 14px;
  border-width: 1px;
  border-radius: 4px;
  width: calc(100% - 24px);
  padding: 12px 12px;
  display: block;
  margin-top: 10px;
}


.choose-address .my-address a .address-item{
  margin-bottom: 15px;
}
.choose-address .my-address a:nth-last-of-type(1) .address-item{
  margin-bottom: 0;
}
